

.gallery-img {
  transition: transform .2s; /* Animation */
}

.gallery-img:hover {
  transform: scale(1.2);
}

.justified-gallery {
  overflow: hidden;
  width: 225px;
  height: 165px;
  top: 6px;
  left: 6px;
  opacity: 1;
  border-style: solid;
  border-width: 3px;
  border-color: #0e6e9b;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
 /* transition: transform .2s; */
}

/*.justified-gallery:hover {
  transform: scale(1.2);
}
*/
.fullBox {
  background: 'muted';
  width: '100vw';
  mx: 0;
  px: 0;
  pt: 3;
  pb: 5; 
  mt: 0;
  mb: 0; 
  position: 'relative';
  left: '50%';
  right: '50%';
  marginRight: '-50vw';
  marginLeft: '-50vw';
  marginBottom: '-5vw';
  margin-bottom: 10px;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 3px;
}